<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="SendGridAPIBataClubPeru" value="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" />
  </appSettings>
  <!--<system.diagnostics>
    <sources>
      <source name="Tesseract" switchValue="Verbose">
        <listeners>
          <clear/>
          <add name="console"/>
          --><!-- Uncomment to log to file
                <add name="file" />
                --><!--
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>

      --><!-- Uncomment to log to file
        <add name="file"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="c:\log\tesseract.log" />
        --><!--
    </sharedListeners>
  </system.diagnostics>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Cons_ClienteSoap" />
                <binding name="BasicHttpBinding_IServicioCliente" closeTimeout="00:15:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxReceivedMessageSize="52428800" />
                <!--<binding name="BasicHttpBinding_IServicioCliente1" />-->
                <binding name="BasicHttpsBinding_IServicioCliente">
                    <security mode="Transport" />
                </binding>
                <binding name="bata_transaccionSoap" closeTimeout="00:15:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxReceivedMessageSize="52428800" />
                <binding name="BataEcommerceSoap" closeTimeout="00:15:00" openTimeout="00:30:00"
                    receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="52428800" />
            </basicHttpBinding>
            <!--<customBinding>
                <binding name="BataEcommerceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>-->
        </bindings>
        <client>
            <endpoint address="http://www.bgr.pe/web_site_cliente/Cons_Cliente.asmx"
                binding="basicHttpBinding" bindingConfiguration="Cons_ClienteSoap"
                contract="ws_clientedniruc.Cons_ClienteSoap" name="Cons_ClienteSoap" />
            <endpoint address="http://www.bgr.pe/web_site_tienda/bata_transaccion.asmx"
                binding="basicHttpBinding" bindingConfiguration="bata_transaccionSoap"
                contract="BataTransaction.bata_transaccionSoap" name="bata_transaccionSoap" />
            <!--<endpoint address="http://bataperu-ws.azurewebsites.net/ServicioCliente.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCliente1"
                contract="ServiceMetricard.IServicioCliente" name="BasicHttpBinding_IServicioCliente" />-->
            <endpoint address="http://posperu.bgr.pe/ws_Ec/BataEcommerce.asmx"
                binding="basicHttpBinding" bindingConfiguration="BataEcommerceSoap"
                contract="Ws_BataClub.BataEcommerceSoap" name="BataEcommerceSoap" />
            <!--<endpoint address="http://posperu.bgr.pe/ws_Ec/BataEcommerce.asmx"
                binding="customBinding" bindingConfiguration="BataEcommerceSoap12"
                contract="Ws_BataClub.BataEcommerceSoap" name="BataEcommerceSoap12" />-->
        </client>
    </system.serviceModel> 
</configuration>
