<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SQL_PROD_PE" connectionString="Server=posperu.bgr.pe;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="SQL_PROD_BC" connectionString="Server=posperu.bgr.pe;Database=BDBATACLUB;User ID=sa;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Sunat_Reniec_PESoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://posperu.bgr.pe/Ws_ConsutaSunatReniec/Sunat_Reniec_PE.asmx"
        binding="basicHttpBinding" bindingConfiguration="Sunat_Reniec_PESoap"
        contract="WsSunat.Sunat_Reniec_PESoap" name="Sunat_Reniec_PESoap" />
    </client>
  </system.serviceModel>
</configuration>